.body {
    height: 100vh;
    object-fit: fill;
}
.hidden {
    display: none;
}

#current-icon {
    height: 75px;
    width: 75px;
}

#day-icons {
    height: 500px;
    width: 500px;
}

.card-body {
    height: 250px;
}